@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  background: url("img/star\ uó\ topo@2x.png") no-repeat center top;
  background-size: cover;
  height: 38.5vw;
  max-height: 735px;
}

header div {
  margin: 0 auto;
  max-width: 1920px;
}

header .title {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 4%;
  right: 3%;
}

header .title .star {
  position: relative;
  left: 26%;
}

header .title .kylo-ren {
  z-index: 1;
  transform: scale(1.1);
}

header .title .wars {
  position: relative;
  right: 10%;
}

header .title .create-your-legion {
  position: relative;
  right: 19%;
  padding-top: 12.5%;
  transform: scale(1.3);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main img {
  width: 100%;
}

.section1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url("img/sta\ uo\ robot@2x.png") no-repeat center top;
  background-size: 100%;
  min-height: 720px;
  width: 100%;
}

.section1 .banner {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: clamp(1rem, 3vw, 2rem);
  padding: 5% 0%;
  margin-left: 12.5%;
  margin-top: -3%;
  width: 100vw;
  height: 100%;
  max-width: 350px;
  min-height: 500px;
  background: url("img/strom\ trupe\ red.png") no-repeat center;
  background-size: 110%;
  color: white;
  transition: all 0.2s ease-in-out;
}

.section1 .banner:hover {
  background-size: 130%;
  transform: scale(1.02);
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}

.section1 .banner:hover h2 {
  transform: scale(1.05);
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
}

.section1 .banner:hover p {
  opacity: 1;
  transform: scale(1);
}

.section1 .banner h2 {
  width: 50%;
  font-weight: 600;
  font-size: clamp(1rem, 2vw, 2.5rem);
  text-transform: uppercase;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.section1 .banner p {
  width: 80%;
  min-width: 100px;
  font-weight: 100;
  letter-spacing: 0.1px;
  font-size: clamp(0.5rem, 1vw, 1.5rem);
  opacity: 0.8;
  transform: scale(0.95);
  transition: all 0.2s ease-in-out;
}

.section1 .banner button {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 2% 10%;
  font-size: clamp(0.4rem, 0.9vw, 1.4rem);
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.section1 .banner button:hover {
  transform: scale(1.2);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1px);
}

.section1 .about-the-game {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 720px;
  max-width: 1920px;
  width: 100%;
}

.section1 .about-the-game .info-game {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  width: 77%;
  transform: scale(0.7);
  align-self: flex-end;
  top: 37px;
  margin-right: 3%;
}

.section1 .about-the-game .info-game figure {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.section1 .about-the-game .info-game figure img {
  transform: scale(135%);
  transition: transform 0.2s ease-in-out;
}

.section1 .about-the-game .info-game figure img:hover {
  transform: scale(145%);
}

.section1 .about-the-game .info-game .text {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 2%;
  width: 150%;
}

.section1 .about-the-game .info-game .text h2 {
  text-transform: uppercase;
  font-size: clamp(1rem, 1.8vw, 2.5rem);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-end;
}

.section1 .about-the-game .info-game .text p {
  text-align: right;
  font-size: clamp(1rem, 1.8vw, 2.2rem);
  width: 120%;
}

.section1 .about-the-game .info-game .line-title {
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: black;
}

.section1 .line {
  margin-top: 10%;
  width: 75.5%;
  max-width: 1450px;
  height: 0.2vw;
  background-color: black;
}

.section1 .game-structure {
  padding-top: 5vw;
  display: flex;
  justify-content: center;
  width: 80%;
  max-height: 720px;
  max-width: 1920px;
}

.section1 .game-structure figure {
  position: absolute;
}

.section1 .game-structure .darth-maul {
  width: 45%;
  left: 11%;
  margin-top: -2%;
}

.section1 .game-structure .rey {
  width: 22.5%;
  right: 15%;
}

.section1 .game-structure .content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1vw;
  width: 40%;
  text-align: right;
  z-index: 1;
  padding-bottom: 15%;
}

.section1 .game-structure .content h2 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 300%;
  font-weight: 500;
}

.section1 .game-structure .content h2 span {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.section1 .game-structure .content nav {
  width: 70%;
}

.section1 .game-structure .content nav ul {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.section1 .game-structure .content nav ul li {
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
  height: 110%;
  display: flex;
  justify-content: flex-end;
  padding-right: 2.5%;
}

.section1 .game-structure .content nav ul li:hover {
  cursor: pointer;
  background-color: #d74430;
  color: white;
}

@media (max-width: 1300px) {
  .section1 {
    background-size: 200%;
  }
  .section1 .about-the-game {
    padding-top: 10%;
    flex-direction: column;
    align-items: flex-end;
    margin: 0px;
    max-height: none;
    width: 80%;
  }

  .section1 .about-the-game .banner {
    gap: 12vw;
    justify-content: center;
    margin: 0px;
    max-width: none;
    min-height: auto;
    min-width: auto;
    width: 70%;
    height: 90vw;
  }

  .section1 .about-the-game .banner h2 {
    font-size: 6vw;
  }

  .section1 .about-the-game .banner p {
    font-size: 3.5vw;
  }

  .section1 .about-the-game .banner button {
    font-size: 3.5vw;
  }

  .section1 .about-the-game .info-game {
    flex-direction: column;
    width: 100%;
    margin: 0;
    transform: scale(1);
    height: 20%;
  }

  .section1 .about-the-game .info-game figure {
    width: 70%;
    align-self: flex-end;
  }

  .section1 .about-the-game .info-game figure img {
    transform: scale(100%);
  }

  .section1 .about-the-game .info-game .text {
    width: 100%;
    align-items: flex-end;
    gap: 3vw;
    padding: 0px;
    padding-top: 3%;
  }

  .section1 .about-the-game .info-game .text h2 {
    font-size: 3vw;
    text-align: right;
    display: flex;
    align-items: right;
    gap: 0px;
  }

  .section1 .about-the-game .info-game .text .line-title {
    width: 120%;
    height: 0.5vw;
    align-self: flex-end;
  }

  .section1 .about-the-game .info-game .text p {
    width: 90%;
    letter-spacing: -1px;
    font-size: 2.5vw;
    font-weight: 500;
    text-align: right;
  }
}
